.toplist_page_wrap {
    width: 100%;
    height: 100%;
}

.top_songlist_wrap {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 200px;
}

.toplist_page_header {
    width: 100%;
    height: 150px;
}