.mvlist {
	position: relative;
	width: 100%;
	padding-top: 20px;
}

.mvlist_item {
	float: left;
	width: 25%;
	padding-bottom: 44px;
	overflow: hidden;
}

.mvlist_item_box {
	position: relative;
	margin-right: 20px;
}

.mvlist_cover {
	position: relative;
	display: block;
	overflow: hidden;
	padding-top: 56.5476%;
	margin-bottom: 15px;
}

.mvlist_cover:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000', GradientType=0 );
}

.mvlist_pic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: transform .75s;
}

.mvlist_cover:hover .mvlist_pic {
	transform: scale(1.07);
	transition: transform .75s cubic-bezier(0,1,.75,1);
}

.mod_cover_icon_play {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -35px;
	width: 70px;
	height: 70px;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: scale(.7);
	-webkit-transition-property: opacity,-webkit-transform;
	-webkit-transition-duration: .5s;
	transform: scale(.7);
	transition-property: opacity,transform;
	transition-duration: .5s;
	zoom:1;
}

.mod_cover_mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.mod_cover_icon_play {
	background: 0 0\9;
	filter: progid:dximagetransform.microsoft.alphaimageloader(src="http://imgcache.gtimg.cn/mediastyle/yqq/img/cover_play.png", sizingmethod="crop") alpha(opacity=90);
	opacity: .9;
	-webkit-transform: scale(1);
	-webkit-transition-property: opacity,-webkit-transform;
	-webkit-transition-duration: .5s;
	transform: scale(1);
	transition-property: opacity,transform;
	transition-duration: .5s;
	cursor: pointer;
}

.mod_cover_icon_play:hover,.mod_cover_icon_play {
	background-image: url(//y.gtimg.cn/mediastyle/yqq/img/cover_play.png?max_age=2592000&v=fa72193fd8d5000e90837380d6be93ea);
	background-image: -webkit-image-set(url(//y.gtimg.cn/mediastyle/yqq/img/cover_play.png?max_age=2592000&v=fa72193fd8d5000e90837380d6be93ea) 1x,url(//y.gtimg.cn/mediastyle/yqq/img/cover_play@2x.png?max_age=2592000&v=fa72193fd8d5000e90837380d6be93ea&v=53ca790343c2fac91d8d6f39b4861938) 2x)
}

.mod_cover_icon_play:hover {
	opacity: 1;
	filter: none;
}

.mod_cover_mask {
	opacity: .2;
	filter: alpha(opacity=20);
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.mvlist_title {
	font-weight: 400;
	zoom:1;
	*width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.mvlist_title a:hover {
	color: #31c27c;
}

.mvlist_info {
	line-height: 18px;
	height: 20px;
	color: #999;
}

.mvlist_listen {
	margin-right: 10px
}

.mvlist_listen_icon {
	display: inline-block;
	width: 19px;
	height: 12px;
	background-image: url(//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=cfc9e963685e5ce3f9fcef4a4449cddb);
	background-image: -webkit-image-set(url(//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=cfc9e963685e5ce3f9fcef4a4449cddb) 1x,url(//y.gtimg.cn/mediastyle/yqq/img/icon_sprite@2x.png?max_age=2592000&v=cfc9e963685e5ce3f9fcef4a4449cddb&v=18e4c7db7f50abb38446f0daed234778) 2x);
	background-position: -180px -20px;
	margin-right: 5px;
	vertical-align: -1px
}