.album_page_nav {
	width: 100%;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #f2f2f2;
}

.album_page_nav li {
	float: left;
	width: 100px;
	display: inline-block;
}

.album_page_nav li a{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
}

.album_page_nav li a.active {
	color: #31C27C;
	border-bottom: 2px solid #31C27C;
}