.main_page {
	position: absolute;
	width: 100%;
	top: 70px;
	bottom: 53px;
}

.player_is_hide {
	bottom: 0;
}

.main_sub_page {
	width: auto;
	position: absolute;
	top: 0;
	left: 140px;
	right: 0;
	bottom: 0;
	overflow: hidden;
}