.search_bar {
	border: 1px solid #c9c9c9;
	line-height: 30px;
	height: 30px;
	padding: 0 33px 0 15px;
	position: relative;
	border-radius: 3px;
	background-color: #fff;
}

.search_bar_input {
	width: 250px;
	height: 30px;
	border: 0 none;
	font-size: 100%;
	background: 0 0;
}

.search_bar_btn {
	position: absolute;
	top: 0;
	right: 0;
	border: 0 none;
	width: 38px;
	height: 30px;
	overflow: visible;
	background: 0 0;
	cursor: pointer;
}

.search_bar_btn_icon {
	position: absolute;
	top: 50%;
	right: 11px;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	background-image: url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c');
	background-image: -webkit-image-set(url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c') 1x,url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite@2x.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c&v=14e12b2b554df394e0d6e107103d3fc7') 2x);
	background-position: 0 -40px
}

.search_suggest_box {
	border: 1px solid #c9c9c9;
	padding: 5px 0;
	border-radius: 3px;
	background-color: #fff;
	width: 300px;
}

.search_suggest_box li{
	height: 30px;
	line-height: 30px;
	font-size: 100%;
	color: #000;
	padding: 0 45px;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.search_suggest_box li:hover{
	color: #fff;
	background-color: #31C27C;
}

.search_result_sort {
	padding: 5px 0;
	border-top: solid 1px #f2f2f2;
	margin-top: -1px;
}

.search_result_tit {
	position: relative;
	padding: 0 45px;
	height: 36px;
	line-height: 36px;
	font-size: 100%;
	color: #999;
}

.search_result_tit i {
	position: absolute;
	left: 19px;
	width: 16px;
	height: 16px;
	top: 10px;
	overflow: hidden;
	background-image: url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c');
	background-image: -webkit-image-set(url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c') 1x,url('//y.gtimg.cn/mediastyle/yqq/img/icon_sprite@2x.png?max_age=2592000&v=90f0b48611f5fc8ea381704db436b70c&v=14e12b2b554df394e0d6e107103d3fc7') 2x);
	background-repeat: no-repeat;
}

.search_result_icon_song {
	background-position: -20px -220px
}

.search_result_icon_singer {
	background-position: -20px -240px
}

.search_result_icon_album {
	background-position: -40px 0
}

.search_result_icon_mv {
	background-position: 0 -220px
}