.playlist {
	display: block;
	width: 600px;
	height: 500px;
	position: absolute;
	bottom: 100%;
	right: 0;
	box-shadow: 0 -1px 5px #9C9C9C;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #2D2F33;
}

.playlist_header {
	height: 30px;
	line-height: 30px;
	color: #999;
	padding-left: 10px;
	position: relative;
}

.playlist_body {
	height: 470px;
	overflow-y: auto;
	overflow-x: hidden;
}

.playlist thead{
	height: 35px;
	line-height: 35px;
	background-color: #292B2F;
	color: #999;
	cursor: default;
}

.playlist_item_even {
	background-color: #2D2F33;
}

.playlist_item_odd {
	background-color: #313337;
}

.playlist li>div{
	line-height: 30px;
	height: 30px;
	font-size: 13px;
	color: #999;
	position: relative;
	cursor: default;
}

.playlist_count {
	display: inline-block;
	width: 30px;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
}

.playlist_count_playing {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(//y.gtimg.cn/mediastyle/yqq/img/wave.gif) 0 0 no-repeat;
	text-indent: -99px;
}

.playlist_songname {
	display: inline-block;
	width: 240px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.playlist_album,.playlist_singer {
	display: inline-block;
	padding-left: 15px;
	width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.playlist_time {
	display: inline-block;
	padding-left: 15px;
	width: 55px;
	overflow: hidden;
}

.playlist_delete {
	display: inline-block;
	position: relative;
	padding-left: 15px;
	width: 30px;
	height: 100%;
}

.playlist_delete_icon {
	display: inline-block;
	position: absolute;
	left: 10px;
	top: 5px;
	width: 20px;
	height: 20px;
	background-image: url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb);
	background-image: -webkit-image-set(url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb) 1x,url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu@2x.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb&v=5b2eee44c015947ffe8d44c5b69fd078) 2x);
	background-position: -88px -168px;
	cursor: pointer;
	opacity: .8;
	filter: alpha(opacity=80);
}

.playlist_delete_icon:hover {
	opacity: 1;
	filter: none
}

.playlist_delete_all {
	display: inline-block;
	position: absolute;
	text-indent: 25px;
	right: 15px;
	opacity: .8;
	filter: alpha(opacity=80);
	cursor: pointer;
}

.playlist_delete_all_icon {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb);
	background-image: -webkit-image-set(url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb) 1x,url(//y.gtimg.cn/mediastyle/yqq/img/icon_list_menu@2x.png?max_age=2592000&v=873fb6560497db4abbe63767018022eb&v=5b2eee44c015947ffe8d44c5b69fd078) 2x);
	background-position: -88px -168px;
}

.playlist_delete_all:hover {
	opacity: 1;
	filter: none
}

.playlist li div a{
	cursor: pointer;
	color: #999;
}

.playlist li div a:hover{
	color: #DCDDE4;
}