.player_wrap {
	position: fixed;
	zoom: 1;
	bottom: 0;
	left: 0;
	right: 0;
	height: 68px;
	width: 100%;
	transition: bottom 0.5s ease-out;
}

.player_hide {
	bottom: -53px;
}

.player {
	position: absolute;
	zoom: 1;
	top: 15px;
	left: 0;
	width: 100%;
	height: 53px;
	margin: 0 auto;
	background-color: #292a2b;
}

.player_toggle_btn {
	position: absolute;
	top: 0;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: rgba(225,225,225,.8);
	width: 40px;
	z-index: 99;
	background-color: #292a2b;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	cursor: pointer;
	user-select: none;
}

.btn_big_down,.btn_big_pause,.btn_big_next,.btn_big_play,.btn_big_prev,.btn_big_style_list,.btn_big_style_order,.btn_big_style_random,.btn_big_style_single,.btn_big_voice,.player_playlist_btn {
	position: absolute;
	background-image: url(//y.gtimg.cn/mediastyle/yqq/img/player.png);
	background-image: -webkit-image-set(url(//y.gtimg.cn/mediastyle/yqq/img/player.png) 1x,url(//y.gtimg.cn/mediastyle/yqq/img/player@2x.png) 2x);
	opacity: .8;
	filter: alpha(opacity=80);
	cursor: pointer;
}

.btn_big_down:hover,.btn_big_pause:hover,.btn_big_next:hover,.btn_big_play:hover,.btn_big_prev:hover,.btn_big_style_list:hover,.btn_big_style_order:hover,.btn_big_style_random:hover,.btn_big_style_single:hover,.btn_big_voice:hover,.player_playlist_btn:hover {
	opacity: 1;
	filter: none
}

.btn_big_prev {
	top: 17px;
	left: 50px;
	width: 19px;
	height: 20px;
	background-position: 0 -30px;
}

.btn_big_play {
	top: 12px;
	left: 126px;
	width: 21px;
	height: 29px;
	background-position: 0 0;
}

.btn_big_pause {
	top: 12px;
	left: 126px;
	width: 21px;
	height: 29px;
	background-position: -30px 0;
}

.btn_big_next {
	top: 17px;
	left: 198px;
	width: 19px;
	height: 20px;
	background-position: 0 -52px;
}

.player_music_pic {
	position: absolute;
	top: 4px;
	left: 260px;
	width: 45px;
	height: 45px;
	float: left;
}

.player_music {
	position: relative;
	margin-left: 320px;
	margin-top: 10px;
	margin-right: 300px;
}

.player_music_info {
	padding-right: 90px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: rgba(225,225,225,.8);
}

.player_music_info a {
	color: inherit;
}

.player_music_time {
	position: absolute;
	top: 0;
	right: 0;
	color: rgba(225,225,225,.8);
}

.btn_big_style_random {
	top: 17px;
	right: 240px;
	width: 25px;
	height: 19px;
	background-position: 0 -74px
}

.btn_big_style_order {
	top: 17px;
	right: 240px;
	width: 23px;
	height: 20px;
	background-position: 0 -260px
}

.btn_big_style_single {
	top: 14px;
	right: 240px;
	width: 26px;
	height: 25px;
	background-position: 0 -232px
}

.btn_big_style_list {
	top: 14px;
	right: 240px;
	width: 26px;
	height: 25px;
	background-position: 0 -205px
}

.player_progress {
	padding-top: 4px;
	padding-bottom: 12px;
	height: 8px;
	cursor: pointer;
}

.player_progress_inner {
	position: relative;
	height: 2px;
	background: rgba(255,255,255,.1);
}

.player_progress_load {
	height: 2px;
	background: rgba(255,255,255,.2);
}

.player_progress_play {
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	background: rgba(255,255,255,.7);
}

.player_voice {
	position: absolute;
	top: 12px;
	right: 80px;
	width: 95px;
	padding-top: 13px;
}

.btn_big_voice {
	top: 4px;
	left: -31px;
	width: 26px;
	height: 21px;
	background-position: 0 -144px;
}

.btn_big_voice_muted {
	background-position: 0 -182px;
}

.player_playlist_btn {
	top: 16px;
	right: 25px;
	width: 23px;
	height: 21px;
	background-position: 0 -96px;
}
